body{
  background-color: #f8ca85 ;
}
/*INDEX*/
.d-block{
width: 100px;
height: 100px;
margin-top: 1%;
margin-bottom: 2%;}

.a{
width: 600px;
height: 440px;
margin-top: 1%;
margin-bottom: 2%;}

.footer{
  margin-top: 3%;
}
@media only screen and (max-width: 320px){
  .a{
  width: 300px;
  height: 220px;
  margin-top: 1%;
  margin-bottom: 2%;}
  /*FIN INDEX*/
  
  /*FOOTER*/
  .instlogo{
  width: 75px;
  height: 75px;
  }
  .facelogo{
  width: 75px;
  height: 75px;
  }
  .youlogo{
  width: 75px;
  height: 75px;
  }
}
  /*FIN FOOTER*/

  /*ERROR 404*/
.mainbox {
  background-color: #f8ca85;
  margin: auto;
  height: 600px;
  width: 600px;
  position: relative;
}

  .err {
    color: #ffffff;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 11rem;
    position:absolute;
    left: 20%;
    top: 8%;
  }

.far {
  position: absolute;
  font-size: 8.5rem;
  left: 42%;
  top: 15%;
  color: #ffffff;
}

 .err2 {
    color: #ffffff;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 11rem;
    position:absolute;
    left: 68%;
    top: 8%;
  }

.msg {
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.6rem;
    position:absolute;
    left: 16%;
    top: 45%;
    width: 75%;
  }

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
}
/*FIN ERROR 404*/

/*CONTACTO*/
.form1{
  margin-top: 1%;
margin-bottom: 2%;
}
.ratio{
  margin-top: 5%;
margin-bottom: 0%;
}
.btn-primary{
  margin-top: 2%;
  margin-bottom: 0%;
}
/*FIN CONTACTO*/